@media screen and (max-width: 767px) {
  .pc-menu {
    display: none;
  }
  #side-menu {
  display: none !important;
  }
  body {
    margin-top: 20rem;
  }
  .post-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width:767px) and (max-width: 1000px) {
  .container {
     width: 100% !important;
  }
}
