.panel-heading.conversation-heading
  %span.contact-name-motif= @recipient.name

= link_to 'x',
          close_private_conversation_path(conversation),
          class: 'close-conversation',
          title: 'Close',
          remote: true,
          method: :post
