.navbar {
  font-size: 2rem;
  width: 100%;

  .navbar-brand {
    font-size: 4rem;
  }

  .navbar-brand:hover,
  .nav-link:hover {
    -webkit-text-stroke: 0.05em;
  }

  .container {
    min-width: 100%;
  }
}

.col-sm-7, .col-sm-5 {
  padding: 2rem;
  min-height: 7rem;

  li {
    padding: 1rem;
  }
}

.navbar-expand-lg {
  background: $teal;
  border: none;
  a {
    color: white;
  }
}

.pc-menu {
  margin-right: 5rem;
}

.mobile-menu {
  i {
    color: $white;
  }
  ul {
    padding: 0px;
  }
  a {
    display: block;
    padding: 10px 0px 10px 25px;
  }
  a:hover {
    background: $transp-teal;
    color: $black;
    i {
      color: $black;
    }
  }
}

.icon-bar {
  background-color: $white;
}

.active a {
  background: $dark-teal;
  border-bottom: solid 5px $white;
}

.dropdown-toggle,
.dropdown-menu {
  background: $teal;
  border: 0;
}

.dropdown-menu a:hover {
  background: $transp-teal;
  color: $black;
}
