* {
  box-sizing: border-box;
}

body {
  background: $light-teal;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  margin-top: 10rem;
}

h1 {
  font-weight: bold;
}

i {
  width: 5rem;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}

.control-label {
  display: none;
}
