$light-teal: hsla(180, 65%, 60%, 0.5);
$teal: hsla(180, 60%, 50%, 1);
$transp-teal: hsla(180, 80%, 40%, 0.4);
$dark-teal: hsla(180, 90%, 30%, 0.5);
$darkest-teal: hsla(180, 95%, 25%, 0.5);
$white: hsla(0, 0%, 100%, 1);
