#main-content {
  background-color: $transp-teal;
  min-height: 800px;
  margin: 0;
  padding: 1rem;
}

#side-menu {
  padding: 0;
  #links-list {
    background-color: $transp-teal;
    margin: 2rem;
    padding: 0;
    a {
      display: block;
      padding: 1rem 2rem;
      margin: 0.5rem 0;
    }
    li {
      i {
        margin-right: -2rem;
      }

      &:hover {
        border-radius: 3rem;
        background: $teal;
      }
    }
  }
}
