.container
  .row
    %h1.page-title Edit your post in #{@branch}
  .row
    %section.col-sm-6.col-sm-offset-3
      = render 'posts/shared/post_form',
        post: @post,
        branch: @branch,
        categories: @categories
