.navbar-header.navbar-left
  = link_to 'CollabField', root_path, class: 'navbar-brand'
  %button.navbar-toggle.collapsed{"aria-controls" => "navbarSupportedContent",
                         "aria-expanded" => "false",
                         "aria-label" => "Toggle navigation",
                         "data-target" => "#navbarSupportedContent",
                         "data-toggle" => "collapse",
                         :type => "button"}
    %span.sr-only Toggle nav
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
