.navbar-header
  %button.navbar-toggler{"aria-controls" => "navbar-collapsible-content",
                         "aria-expanded" => "false",
                         "aria-label" => "Toggle navigation",
                         "data-target" => "#navbar-collapsible-content",
                         "data-toggle" => "collapse",
                         :type => "button"}
    %span.navbar-toggler-icon
  = link_to 'CollabField', root_path, class: 'navbar-brand'
