%nav.navbar.navbar-expand-lg.navbar-fixed-top
  %container
    .row
      -# elements visible all the time
      .col-sm-7
        = render 'layouts/navigation/header'
      -# elements collapse on smaller devices
      .col-sm-5
        = render 'layouts/navigation/collapsible_elements'
